networks:
  net:  
    ipam:
      config:
        - subnet: 198.19.10.0/24
          gateway: 198.19.10.1

volumes:
  config:

services:
  jellyfin:
    container_name: jellyfin
    image: lscr.io/linuxserver/jellyfin:latest
    hostname: jellyfin
    environment:
      - PUID=1999
      - PGID=2000
      - TZ=Europe/Moscow
#      - DOCKER_MODS=ghcr.io/lizardbyte/themerr-jellyfin:latest
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - config:/config
      - ${DATA_MOVIES}:/media/video/movies:ro
      - ${DATA_TVSHOWS}:/media/video/tvshows:ro
      - ${DATA_ANIMATION}:/media/video/animation:ro
      - ${DATA_ANIMATIONSHOWS}:/media/video/animationshows:ro
      - ${DATA_DOCUMENTARY}:/media/video/documentary:ro
      - ${DATA_FAMILY}:/media/video/family:ro
    ports:
      - 31020:8096
#      - 31024:8920
#      - 1900:1900/udp
      - 7359:7359/udp
    networks:
      net:
        ipv4_address: 198.19.10.2
    healthcheck:
      test: ["CMD", "curl", "-f", "http://198.19.10.2:8096"]
      interval: 30s
      timeout: 10s
      start_period: 10s
      retries: 3
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "10"
    restart: unless-stopped
